<section class="mainbar" data-ng-init="vm.getBudgets()">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Budget List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/budgets/create">
          <i class="glyphicon glyphicon-open"></i> New Budget
        </a>
      </div>

      <table show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="budget in vm.budgets">
              <td data-title="'Hours'" sortable="'hours'" filter="{ 'hours': 'text' }">{{budget.hours}}</td>
              <td data-title="'Fiscal Year'" sortable="'fiscalYear'" filter="{'fiscalYear': 'text'}">
                  {{budget.fiscalYear}}
              </td>
              <td data-title="'Hours'" sortable="'hours'" filter="{ 'hours': 'text' }">{{budget.project}}</td>
              <td data-title="'Fiscal Year'" sortable="'fiscalYear'" filter="{'fiscalYear': 'text'}">
                  {{budget.user}}
              </td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/budgets/{{budget.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/budgets/{{budget.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(budget)" item="budget">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
