<section class="mainbar" data-ng-init="vm.toViewBudget()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			Budget View
    </div>
    <div class="panel-body">

      <form novalidate>
          <div class="col-xs-12">
              <label class="control-label">Hours Allocated: </label>
              <input class="form-control" id="ex3" type="text" ng-model="vm.budget.hours">
          </div>

          <div class="col-xs-12">
              <label class="control-label">Fiscal Year: </label>
              <select ng-model="vm.budget.fiscalYear" class="form-control">
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
              </select>
          </div>

          <div class="col-xs-12">
              <label class="control-label">Project Name: </label>
              <select class="form-control" ng-model="vm.budget.project">
                  <option
                      data-ng-repeat="project in vm.projects"
                      value="{{vm.budget.project.id}}">
                      {{vm.budget.project.name}}
                  </option>
              </select>
          </div>

          <div class="col-xs-12">
              <label class="control-label">Employee: </label>
              <select ng-model="vm.budget.appUser" class="form-control">
                  <option
                      data-ng-repeat="user in vm.users"
                      value="{{user.id}}">
                      {{user.fullName}}
                  </option>
              </select>
          </div>
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/budgets/{{vm.budget.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.budget">
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        </a>
        <a class="btn btn-primary" href="/budgets">
          <i class="glyphicon glyphicon-list"></i> List Budgets
        </a>
      </div>

    </div>
  </div>

</section>
