<section class="mainbar" data-ng-init="vm.toViewActivity()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			Activity View
    </div>
    <div class="panel-body">

      <form novalidate>
        <formly-form model="vm.activity" fields="vm.formFields">
        </formly-form>
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/activities/{{vm.activity.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.activity">
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        </a>
        <a class="btn btn-primary" href="/activities">
          <i class="glyphicon glyphicon-list"></i> List Activities
        </a>
      </div>

    </div>
  </div>

</section>
