<section class="mainbar" data-ng-init="vm.getTimeSheets()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Timesheet List
        </div>

        <div class="panel-body">
            <fieldset>
                <h2 class="text-center">{{ vm.calendarTitle }}</h2>

                <div class="row">
                    <div class="col-md-6 text-center">

                        <div class="btn-group">

                            <!--<button-->
                                <!--class="btn btn-primary"-->
                                <!--mwl-date-modifier-->
                                <!--date="vm.viewDate"-->
                                <!--decrement="vm.calendarView">-->
                                <!--Previous-->
                            <!--</button>-->
                            <!--<button-->
                                <!--class="btn btn-default"-->
                                <!--mwl-date-modifier-->
                                <!--date="vm.viewDate"-->
                                <!--set-to-today>-->
                                <!--Today-->
                            <!--</button>-->
                            <!--<button-->
                                <!--class="btn btn-primary"-->
                                <!--mwl-date-modifier-->
                                <!--date="vm.viewDate"-->
                                <!--increment="vm.calendarView">-->
                                <!--Next-->
                            <!--</button>-->

                            <div class="col-xs-1">
                                <label style="color: red">
                                    Who Are You?
                                </label>
                                <select ng-model="vm.timesheet.user1">
                                    <option
                                        data-ng-repeat="user in vm.users"
                                        value="{{user.id}}">
                                        {{user.fullName}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <br class="visible-xs visible-sm">

                </div>

                <br>



                <div class="row">

                    <intelli-cal></intelli-cal>

                </div>

                <div class="row">

                    <div class="col-lg-2">
                        <h3 id="event-editor">
                            <button
                                class="btn btn-danger"
                                ng-click="vm.removeChoice()">
                                <!--ng-click="vm.events.push({title: 'New event', type: 'important', draggable: true, resizable: true})">-->
                                Remove row
                            </button>

                            <div class="clearfix"></div>
                        </h3>
                    </div>

                    <div class="col-lg-2">
                        <h3 id="event-editor2">
                            <button
                                class="btn btn-primary"
                                ng-click="vm.addNewChoice()">
                                <!--ng-click="vm.events.push({title: 'New event', type: 'important', draggable: true, resizable: true})">-->
                                Add new row
                            </button>

                            <div class="clearfix"></div>
                        </h3>
                    </div>

                    <div class="col-lg-2">
                        <h3 id="event-editor1">
                            <button
                                class="btn btn-warning pull-right"
                                ng-click="vm.submitTime()">
                                <!--ng-click="vm.events.push({title: 'New event', type: 'important', draggable: true, resizable: true})">-->
                                Submit Your Time Sheet
                            </button>

                            <div class="clearfix"></div>
                        </h3>
                    </div>
                </div>


                <!--this was the panel button  -->

                <!--<div class="pull-right">-->
                <!--<a type="button" class="btn btn-success" href="/timesheets/create">-->
                <!--<i class="glyphicon glyphicon-open"></i> New Timesheet-->
                <!--</a>-->
                <!--</div>-->


                <!--below was the table containing the search fields-->

                <!--<table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">-->
                <!--<tr ng-repeat="timesheet in $data">-->
                <!--<td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{timesheet.name}}</td>-->
                <!--<td data-title="'Address'" sortable="'address'" filter="{'address': 'text'}">{{timesheet.address}}</td>-->
                <!--<td>-->
                <!--<div class="table-actions">-->
                <!--<a class="btn btn-default" title="View" href="/timesheets/{{timesheet.id}}">-->
                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                <!--</a>-->
                <!--<a class="btn btn-default" title="Edit" href="/timesheets/{{timesheet.id}}/edit">-->
                <!--<span class="glyphicon glyphicon-edit"></span>-->
                <!--</a>-->
                <!--<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(timesheet)" item="timesheet">-->
                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                <!--</a>-->
                <!--</div>-->
                <!--</td>-->
                <!--</tr>-->
                <!--</table>-->
                <fieldset>
        </div>


</section>
