<section class="mainbar" data-ng-init="vm.getTimeSheets()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Timesheet List
        </div>

        <div class="panel-body">
            <fieldset>
                <h2 class="text-center">{{ vm.calendarTitle }}</h2>

                <div class="row">

                    <div class="col-md-6 text-center">
                        <div class="btn-group">

                            <button
                                class="btn btn-primary"
                                mwl-date-modifier
                                date="vm.viewDate"
                                decrement="vm.calendarView">
                                Previous
                            </button>
                            <button
                                class="btn btn-default"
                                mwl-date-modifier
                                date="vm.viewDate"
                                set-to-today>
                                Today
                            </button>
                            <button
                                class="btn btn-primary"
                                mwl-date-modifier
                                date="vm.viewDate"
                                increment="vm.calendarView">
                                Next
                            </button>
                        </div>
                    </div>

                    <br class="visible-xs visible-sm">

                </div>

                <br>



                <br><br><br>




                <script>
//                                    $(function() {
//                                        var projectCell = document.createElement('div');
//                                        projectCell.className = 'cal-cell1 ng-scope cal-day-weekdend cal-day-future';
//                                        var projectSpan = document.createElement('span');
//                                        projectSpan.className = 'ng-binding';
//                                        projectSpan.innerHTML = 'Project';
//                                        projectCell.appendChild(projectSpan);
//
//                                        var taskCell = document.createElement('div');
//                                        taskCell.className = 'cal-cell1 ng-scope cal-day-weekdend cal-day-future';
//                                        var taskSpan = document.createElement('span');
//                                        taskSpan.className = 'ng-binding';
//                                        taskSpan.innerHTML = 'Task';
//                                        taskCell.appendChild(taskSpan);
//
//                                        //document.getElementsByClassName('cal-week-box')[0].appendChild(taskCell);
//                                        //document.getElementsByClassName('cal-week-box')[0].appendChild(projectCell);
//
//                                        console.log('test')
//                                    })
                </script>

                <div class="row">
                    <mwl-calendar
                        events="vm.events"
                        view="vm.calendarView"
                        view-title="vm.calendarTitle"
                        view-date="vm.viewDate"
                        on-event-click="vm.eventClicked(calendarEvent)"
                        on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                        edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                        delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                        on-edit-event-click="vm.eventEdited(calendarEvent)"
                        on-delete-event-click="vm.eventDeleted(calendarEvent)"
                        cell-is-open="vm.isCellOpen"
                        day-view-start="06:00"
                        day-view-end="22:00"
                        day-view-split="30"
                        cell-modifier="vm.modifyCell(calendarCell)">
                    </mwl-calendar>
                    <fieldset  data-ng-repeat="choice in vm.choices">


                        <!--<input type="text" ng-model="choice.name" name="" placeholder="Task">-->
                        <!--<input type="text" ng-model="choice.name" name="" placeholder="Task">-->
                        <!--<input type="text" ng-model="choice.name" name="" placeholder="Task">-->
                        <!--<input type="text" ng-model="choice.name" name="" placeholder="Task">-->
                        <!--<input type="text" ng-model="choice.name" name="" placeholder="Task">-->
                        <!--<input type="text" ng-model="choice.name" name="" placeholder="Task">-->
                        <!--<input type="text" ng-model="choice.name" name="" placeholder="Task">-->
                        <!--<input type="text" ng-model="choice.name" name="" placeholder="Task">-->

                        <div class="col-xs-1">
                            <input class="form-control" type="text">
                        </div>

                        <div class="col-xs-1">
                            <input class="form-control" id="ex3" type="text">
                        </div>


                        <div class="col-xs-1">
                            <input class="form-control" type="text">
                        </div>

                        <div class="col-xs-1">
                            <input class="form-control" id="ex3" type="text">
                        </div>

                        <div class="col-xs-1">
                            <input class="form-control" id="ex1" type="text">
                        </div>

                        <div class="col-xs-1">
                            <input class="form-control" id="ex2" type="text">
                        </div>

                        <div class="col-xs-1">
                            <input class="form-control" id="ex3" type="text">
                        </div>

                        <div class="col-xs-1">
                            <select>
                                <option
                                    data-ng-repeat="project in vm.projects"
                                    value="{{project.id}}">
                                    {{project.name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-xs-1">
                            <select>
                                <option
                                    data-ng-repeat="activity in vm.activities"
                                    value="{{activity.id}}">
                                    {{activity.activityName}}
                                </option>
                            </select>
                        </div>


                        <!--<button class="remove" ng-show="$last" ng-click="vm.removeChoice()">-</button>-->
                        <!--</fieldset>-->
                        <!--<button class="addfields">Add fields</button>-->

                        <!--<div id="choicesDisplay">-->
                        <!--{{ choices }}-->
                        <!--</div>-->








                    </fieldset>





                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <h3 id="event-editor">
                            <button
                                class="btn btn-danger"
                                ng-click="vm.removeChoice()">
                                <!--ng-click="vm.events.push({title: 'New event', type: 'important', draggable: true, resizable: true})">-->
                                Remove row
                            </button>

                            <div class="clearfix"></div>
                        </h3>
                    </div>

                    <div class="col-lg-2">
                        <h3 id="event-editor2">
                            <button
                                class="btn btn-primary"
                                ng-click="vm.addNewChoice()">
                                <!--ng-click="vm.events.push({title: 'New event', type: 'important', draggable: true, resizable: true})">-->
                                Add new row
                            </button>

                            <div class="clearfix"></div>
                        </h3>
                    </div>
                </div>


                <!--this was the panel button  -->

                <!--<div class="pull-right">-->
                <!--<a type="button" class="btn btn-success" href="/timesheets/create">-->
                <!--<i class="glyphicon glyphicon-open"></i> New Timesheet-->
                <!--</a>-->
                <!--</div>-->


                <!--below was the table containing the search fields-->

                <!--<table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">-->
                <!--<tr ng-repeat="timesheet in $data">-->
                <!--<td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{timesheet.name}}</td>-->
                <!--<td data-title="'Address'" sortable="'address'" filter="{'address': 'text'}">{{timesheet.address}}</td>-->
                <!--<td>-->
                <!--<div class="table-actions">-->
                <!--<a class="btn btn-default" title="View" href="/timesheets/{{timesheet.id}}">-->
                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                <!--</a>-->
                <!--<a class="btn btn-default" title="Edit" href="/timesheets/{{timesheet.id}}/edit">-->
                <!--<span class="glyphicon glyphicon-edit"></span>-->
                <!--</a>-->
                <!--<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(timesheet)" item="timesheet">-->
                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                <!--</a>-->
                <!--</div>-->
                <!--</td>-->
                <!--</tr>-->
                <!--</table>-->
                <fieldset>
        </div>


</section>
