<section class="mainbar" data-ng-init="vm.getProjects()">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Project List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/projects/create">
          <i class="glyphicon glyphicon-open"></i> New Project
        </a>
      </div>

      <table show-filter="true" class="table table-condensed table-striped">
          <tr>
              <th>Name</th>
              <th>Department</th>
              <th>Lead</th>
              <th>Project Start</th>
              <th>Project End</th>
              <th>Budget</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
          <tr ng-repeat="project in vm.projects">
              <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{project.name}}</td>
              <td data-title="'Department'" sortable="'department'" filter="{'department': 'text'}">{{project.department}}</td>
              <td data-title="'Lead'" sortable="'lead'" filter="{'lead': 'text'}">{{project.lead}}</td>
              <td data-title="'Start'" sortable="'projectStart'" filter="{ 'projectStart': 'text' }">{{project.projectStart}}</td>
              <td data-title="'End'" sortable="'projectEnd'" filter="{'projectEnd': 'text'}">{{project.projectEnd}}</td>
              <td data-title="'Budget'" sortable="'budget'" filter="{'budget': 'text'}">${{project.budget}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/projects/{{project.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                  </div>
              </td>
              <td>
                  <a class="btn btn-default" title="Edit" href="/projects/{{project.id}}/edit">
                      <span class="glyphicon glyphicon-edit"></span>
                  </a>
              </td>
              <td>
                  <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(project)" item="project">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                  </a>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
